NAMESPACE=sunday
APP_ENV=development / staging / production


# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=sunday
DB_PASSWORD=password
DB_ROOT_PASSWORD=password
DB_NAME=sunday_db

JWT_SECRET=change-me-to-a-random-64-char-string-in-production
