.page {
  --background: #000;
  --foreground: #000;

  --text-primary: #ededed;
  --text-secondary: #999;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;
  min-height: 500vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}